<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">


<% include ../partials/header %>
<section>
<div class="container">
    <div class="row">
		<div class="col-lg-6">
			<div class="highlighted">
				<h1 class="mt-5" style="color:rgb(209, 209, 209);">BMAN.GG </h1>
				<p style="color:rgb(209, 209, 209);">BMAN.GG tracks your stats when you are in game. So whether you are playing deathmatch or team deathmatch, BMAN.GG will be able to record your match-history, weapons used and more. You can also see rankings of other players in order to compare yourself to others to see how you stack up. Site is still under construction so check back often!</p>
				<p style="color:rgb(209, 209, 209);">I am still waiting on Spasman to finish his rewrite, so I am hesitant to add more features to the site. However, I wrote a very simple elo tracker which is running right now. Click the Navigation links below to see the current standings</p>
				<p style="color:rgb(209, 209, 209);">Be sure to click on the boring man on the right to view the rankings!</p>
			</div>
		</div>
		<div>
			<a href="view/"><img src="/img/boringman.png" class="mt-5 ml-5"></a>
		</div>
	</div>
</div>
</section>


</body>
</html>